<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>restaurant</title>
  <link rel="stylesheet" href="/stylesheet/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
  <link rel="stylesheet" href="/stylesheet/main.css">
  <script src="https://kit.fontawesome.com/c1fd4dedd0.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light justify-content-between">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          我的餐廳清單
        </a>
        <div class="plus">
          <a href="/restaurants/new" class=" btn btn-primary">create</a>
        </div>
      </div>
    </nav>

    <div class="banner"></div>


  </header>

  <!-- partial templates will replace the part of "body" here -->
  {{{body}}}




  <script src="/Javascripts/popper.js"></script>
  <script src="/Javascripts/bootstrap.js"></script>
</body>

</html>